<div class="card">
  <div class="card-body">
    <h3>{{messageOne}}</h3>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur corporis deserunt dolore doloremque, est, eveniet in ipsa nulla numquam possimus quibusdam totam ullam vel. Accusantium adipisci animi autem beatae culpa facere itaque, numquam optio quasi quo, sint sit sunt totam?</p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h3>{{messageTwo}}</h3>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur corporis deserunt dolore doloremque, est, eveniet in ipsa nulla numquam possimus quibusdam totam ullam vel. Accusantium adipisci animi autem beatae culpa facere itaque, numquam optio quasi quo, sint sit sunt totam?</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h3>{{messageThree}}</h3>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur corporis deserunt dolore doloremque, est, eveniet in ipsa nulla numquam possimus quibusdam totam ullam vel. Accusantium adipisci animi autem beatae culpa facere itaque, numquam optio quasi quo, sint sit sunt totam?</p>
  </div>
</div>

