<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary text-white">
          <p class="h4">Hobby Selector</p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <form>
                <div class="form-check">
                  <input
                    name="eating"
                    [(ngModel)]="eating"
                    class="form-check-input" type="checkbox" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Eating
                  </label>
                </div>
                <div class="form-check">
                  <input
                    name="coding"
                    [(ngModel)]="coding"
                    class="form-check-input" type="checkbox"  id="defaultCheck2">
                  <label class="form-check-label" for="defaultCheck2">
                    Coding
                  </label>
                </div>
                <div class="form-check">
                  <input
                    name="sleeping"
                    [(ngModel)]="sleeping"
                    class="form-check-input" type="checkbox" id="defaultCheck3">
                  <label class="form-check-label" for="defaultCheck3">
                    Sleeping
                  </label>
                </div>
              </form>
            </div>
            <div class="col-md-8">
              <div *ngIf="eating" class="card animated jello">
                <div class="card-body bg-success text-white">
                  <p class="h2">Eating</p>
                </div>
              </div>
              <div *ngIf="coding" class="card animated jello">
                <div class="card-body bg-warning text-white">
                  <p class="h2">Coding</p>
                </div>
              </div>
              <div *ngIf="sleeping" class="card animated jello">
                <div class="card-body bg-danger text-white">
                  <p class="h2">Sleeping</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
