<div class="container mt-3">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img [src]="image_1" alt="" class="img-fluid">
        <div class="card-body">
          <p class="h4">{{tours[0]}}</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ex facilis, natus non numquam omnis quasi rem veritatis? Ea, id?</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img [src]="image_2" alt="" class="img-fluid">
        <div class="card-body">
          <p class="h4">{{tours[1]}}</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ex facilis, natus non numquam omnis quasi rem veritatis? Ea, id?</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img [src]="image_3" alt="" class="img-fluid">
        <div class="card-body">
          <p class="h4">{{tours[2]}}</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ex facilis, natus non numquam omnis quasi rem veritatis? Ea, id?</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img [src]="image_4" alt="" class="img-fluid">
        <div class="card-body">
          <p class="h4">{{tours[3]}}</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ex facilis, natus non numquam omnis quasi rem veritatis? Ea, id?</p>
        </div>
      </div>
    </div>
  </div>
</div>
