<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-success text-white">
          <p class="h4">{{msg.toLowerCase()}}</p>
        </div>
        <div class="card-body">
          <h3>&#8377;{{price.toFixed(2)}}</h3>
          <h3>{{10 * 20}}</h3>
          <h3>{{getDate()}}</h3>
          <h3>{{getTime()}}</h3>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi dolor dolorem dolorum ducimus ea eius facilis fuga inventore, itaque, laudantium libero modi nesciunt porro provident reiciendis saepe, sed sequi.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-secondary text-white">
          <p class="h4">Digital Watch</p>
        </div>
        <div class="card-body bg-light">
          <h3 class="display-3">{{time}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
