<div class="card">
  <div class="card-header btn-secondary text-white">
    <p class="h4">Server Card</p>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <input
          name="sText"
          [(ngModel)]="sText"
          type="text" class="form-control">
      </div>
      <div>
        <input type="submit" class="btn btn-secondary btn-sm" value="Send">
      </div>
    </form>
  </div>
  <div class="card-footer">
    <p class="lead">From Client : {{receiveText}}</p>
  </div>
</div>
