<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-dark text-white">
          <p class="h4">Events Binding</p>
        </div>
        <div class="card-body">
          <p class="h3">{{msg}}</p>
          <button (click)="displayMsg('Good Morning')" class="btn btn-success btn-sm">Good Morning</button>
          <button (click)="displayMsg('Good Afternoon')" class="btn btn-warning btn-sm">Good Afternoon</button>
          <button (click)="displayMsg('Good Evening')" class="btn btn-danger btn-sm">Good Evening</button>
        </div>
      </div>
    </div>
  </div>
</div>
