<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 text-danger">Welcome to Customers Module</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque iure magni quibusdam sequi. Aut consectetur cum deleniti dolorem dolores eaque ex, explicabo illo incidunt iste mollitia optio perspiciatis ratione repellat repudiandae sapiente sed veritatis. Aut cum delectus eius laboriosam quod.</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, atque explicabo impedit nobis odit quae quasi. Blanditiis delectus, facere laboriosam nam optio porro quisquam ratione veniam veritatis vitae! Blanditiis distinctio fuga nam praesentium quis, repellendus totam ullam unde. Corporis dolor illo rem vitae. Animi harum laborum modi quam temporibus voluptates?</p>
      <a routerLink="/" class="btn btn-danger btn-sm">
       <i class="fa fa-arrow-alt-circle-left"></i> Home</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="h5">View All Customers Here</p>
      <ul class="list-group">
        <li class="list-group-item list-group-item-danger">
          <p class="h6">
            <a routerLink="/customers/list" class="text-danger">Customers List
              <i class="fa fa-arrow-alt-circle-right"></i>
            </a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
