<div class="landing-page">
  <div class="wrapper">
    <div class="d-flex flex-column text-center justify-content-center align-items-center h-100">
      <h5 class="display-4 animated zoomIn">Events Booking App</h5>
      <p class="lead animated zoomIn">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore eius magni, nesciunt officiis quam quod repellendus. Iure odit sint sunt. Aliquam amet cumque debitis eaque facere nostrum numquam obcaecati quos.</p>
      <a routerLink="/events/free-events" class="btn btn-danger btn-sm animated zoomInUp">Book Now</a>
    </div>
  </div>
</div>
