/* You can add global styles to this file, and also import other style files */
.table tbody tr td{
  font-weight: bold !important;
}
.landing-page{
  background: white url("./assets/img/bg-image.jpg") no-repeat scroll center;
  background-size: cover;
  height: 100vh;
  color: #c9aa7b;
}
.wrapper{
  background-color: rgba(0,0,0,0.5);
  height: 100%;
}
