/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  font-family: Arial,sans-serif;
}
nav{
  background: linear-gradient(45deg, black , darkred);
  padding: 10px;
  font-size: 20px;
}
nav a{
  color: white;
  text-decoration: none;
}
