<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 text-danger">Angular Form Validations</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur consequatur laudantium modi nihil nisi non nulla tenetur! Iusto magni omnis quis veniam voluptas? Commodi in officia quaerat quis suscipit.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item">
          1. Template Driven Form Validation
          <a routerLink="/enroll">Enroll</a>
        </li>
        <li class="list-group-item">
          2. Reactive Form Validation
          <a routerLink="/register">Register</a>
        </li>
      </ul>
    </div>
  </div>
</div>
